<div style="padding: 30px;">
    @Html.Raw(ViewBag.HtmlContent)

    <br />&nbsp;<br />&nbsp;<br />
    <button class='blueButton' style="margin-left:30px;" onclick="location.href='/@ViewBag.control/@ViewBag.action'" type='submit'>@ViewBag.actionText</button>
</div>
