
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>
<p>An activation code has been sent to your email for activation of your account</p>
<a href="~/Home/Index">Click Here</a> to continue browsing.

