@using AA.HRMS.Interfaces.ValueTypes
@using System.Web;

@model AA.HRMS.Interfaces.IHomeView

@{
    Layout = null;
}


<!--favicon
    ============================================-->
<link rel="shortcut icon" type="~/image/x-icon" href="~/content/img/favicon.ico">
<!-- Google Fonts
============================================ -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
<!-- Bootstrap CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/bootstrap.min.css">
<!-- font awesome CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/font-awesome.min.css">
<!-- owl.carousel CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/owl.carousel.css">
<link rel="stylesheet" href="~/content/css/owl.theme.css">
<link rel="stylesheet" href="~/content/css/owl.transitions.css">
<!-- animate CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/animate.css">
<!-- normalize CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/normalize.css">
<!-- mCustomScrollbar CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/scrollbar/jquery.mCustomScrollbar.min.css">
<!-- wave CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/wave/waves.min.css">
<!-- Notika icon CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/notika-custom-icon.css">
<!-- main CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/main.css">
<!-- style CSS
============================================ -->
<link rel="stylesheet" href="~/content/style.css">
<!-- responsive CSS
============================================ -->
<link rel="stylesheet" href="~/content/css/responsive.css">






<div class="row">



    <div>

        <div class="login-content" style="background-image: url('/Images/office2.png');  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">




            <div class="nk-block toggled" id="l-register">



                @if (!string.IsNullOrEmpty(Model.ProcessingMessage))
                {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
                    </div>
                }
                <div class="nk-form">
                    <div class="dialog-inner">
                        <div class="contact-hd dialog-hd">
                            <h2>Register as Company Administrator</h2>
                            <p>After registering you have a 30 days trial period, before payment.</p>
                        </div>
                        <div class="dialog-pro dialog">
                            <a class="btn btn-info" href="~/Account/Register?selectedRole=CompanyAdmin">Register as Administrator</a>
                            <a class="btn btn-info" href="~/Account/Login">Back to Login</a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="nk-form">
                    <div class="dialog-inner sm-res-mg-t-30">
                        <div class="contact-hd dialog-hd">
                            <h2>Register as Employee of a Company</h2>
                            <p>Your company must have bought this product, and you must be registered as an employee.</p>
                        </div>
                        <div class="dialog-pro dialog">
                            <a class="btn btn-info" href="~/Account/Register?selectedRole=Employee">Register as Employee</a>
                            <a class="btn btn-info" href="~/Account/Login">Back to Login</a>
                        </div>
                    </div>

                    <div class="form-example-int mg-t-15">
                        <a id="home" name="home" href="~/Home/Index">Go back to Home</a>
                    </div>

                </div>


            </div>
        </div>

    </div>

</div>


            <!-- modernizr JS
            ============================================ -->
            <script src="~/scripts/js/vendor/modernizr-2.8.3.min.js"></script>

            <script src="~/scripts/js/vendor/jquery-1.12.4.min.js"></script>
            <!-- bootstrap JS
                ============================================ -->
            <script src="~/scripts/js/bootstrap.min.js"></script>
            <!-- wow JS
                ============================================ -->
            <script src="~/scripts/js/wow.min.js"></script>
            <!-- price-slider JS
                ============================================ -->
            <script src="~/scripts/js/jquery-price-slider.js"></script>
            <!-- owl.carousel JS
                ============================================ -->
            <script src="~/scripts/js/owl.carousel.min.js"></script>
            <!-- scrollUp JS
                ============================================ -->
            <script src="~/scripts/js/jquery.scrollUp.min.js"></script>
            <!-- meanmenu JS
                ============================================ -->
            <script src="~/scripts/js/meanmenu/jquery.meanmenu.js"></script>
            <!-- counterup JS
                ============================================ -->
            <script src="~/scripts/js/counterup/jquery.counterup.min.js"></script>
            <script src="~/scripts/js/counterup/waypoints.min.js"></script>
            <script src="~/scripts/js/counterup/counterup-active.js"></script>
            <!-- mCustomScrollbar JS
                ============================================ -->
            <script src="~/scripts/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
            <!-- sparkline JS
                ============================================ -->
            <script src="~/scripts/js/sparkline/jquery.sparkline.min.js"></script>
            <script src="~/scripts/js/sparkline/sparkline-active.js"></script>
            <!-- flot JS
                ============================================ -->
            <script src="~/scripts/js/flot/jquery.flot.js"></script>
            <script src="~/scripts/js/flot/jquery.flot.resize.js"></script>
            <script src="~/scripts/js/flot/flot-active.js"></script>
            <!-- knob JS
                ============================================ -->
            <script src="~/scripts/js/knob/jquery.knob.js"></script>
            <script src="~/scripts/js/knob/jquery.appear.js"></script>
            <script src="~/scripts/js/knob/knob-active.js"></script>
            <!--  Chat JS
                ============================================ -->
            <script src="~/scripts/js/chat/jquery.chat.js"></script>
            <!--  wave JS
                ============================================ -->
            <script src="~/scripts/js/wave/waves.min.js"></script>
            <script src="~/scripts/js/wave/wave-active.js"></script>
            <!-- icheck JS
                ============================================ -->
            <script src="~/scripts/js/icheck/icheck.min.js"></script>
            <script src="~/scripts/js/icheck/icheck-active.js"></script>
            <!--  todo JS
                ============================================ -->
            <script src="~/scripts/js/todo/jquery.todo.js"></script>
            <!-- Login JS
                ============================================ -->
            <script src="~/scripts/js/login/login-action.js"></script>
            <!-- plugins JS
                ============================================ -->
            <script src="~/scripts/js/plugins.js"></script>
            <!-- main JS
                ============================================ -->
            <script src="~/scripts/js/main.js"></script>


            <!--  notification JS
                ============================================ -->
            <script src="~/script/js/notification/bootstrap-growl.min.js"></script>
            <script src="~/script/js/notification/notification-active.js"></script>


