<?xml version="1.0"?>

<Environments>
  <Environment name="LocalDevelopment">
    <Item key="KeySvr" value="localhost" />
    <Item key="KeyUId" value="sa" />
    <Item key="KeyPwd" value="automata01" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
  </Environment>
  <Environment name="Development">
    <Item key="KeySvr" value="localhost" />
    <Item key="KeyUId" value="sa" />
    <Item key="KeyPwd" value="automata01" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/" />
    <Item key="EmailKey" value="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" />
  </Environment>
  <Environment name="Uat">
    <Item key="KeySvr" value="localhost" />
    <Item key="KeyUId" value="sa" />
    <Item key="KeyPwd" value="automata01" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/" />
  </Environment>
  <Environment name="Production">
    <Item key="KeySvr" value="aalhrms.database.windows.net,1433" />
    <Item key="KeyUId" value="aalhrms" />
    <Item key="KeyPwd" value="Mercyware123++" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/" />
  </Environment>
  <Environment name="DR">
    <Item key="KeySvr" value="tcp:ypjqoqhz5p.database.windows.net,1433" />
    <Item key="KeyUId" value="****@ypjqoqhz5p" />
    <Item key="KeyPwd" value="********" encrypted="false" />
    <Item key="FileUploadPath" value="~/DocumentFolder/" />
  </Environment>
</Environments>