.text-black { color: #000; }

#header a { color: #000000; }

#jobs a { text-decoration: none; }

/** Navigation Bar Color  ***/

.bg-dark-blue { background-color: #0D87B1 !important; }

.text-dark-blue { color: #0D87B1 !important; }

.text-small { font-size: small; }

.nav-link a {
    color: #FFF;
    text-decoration: none;
}

.text-capitalize {
    text-transform: capitalize;
}

/*** Navigation **/

header.masthead {
    margin-bottom: 20px !important;
    background: no-repeat center center !important;
    background-color: #868e96 !important;
    background-attachment: scroll !important;
    position: relative !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

    header.masthead .overlay {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        height: 100% !important;
        width: 100% !important;
        background-color: #212529 !important;
        opacity: .5 !important;
    }

    header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
        padding: 20px 0 10px !important;
        color: #fff !important;
    }

@media only screen and (min-width: 768px) {
    header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 20px 0 }
}

header.masthead .page-heading, header.masthead .site-heading { text-align: center }

    header.masthead .page-heading h1, header.masthead .site-heading h1 {
        font-size: 50px !important;
        margin-top: 0 !important;
    }

    header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
        font-size: 24px !important;
        font-weight: 300 !important;
        line-height: 1.1 !important;
        display: block !important;
        margin: 10px 0 0 !important;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
    }

@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1, header.masthead .site-heading h1 { font-size: 70px; }
}

header.masthead .post-heading h1 { font-size: 30px }

header.masthead .post-heading .meta, header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Lora, 'Times New Roman', serif
}

header.masthead .post-heading .meta a { color: #fff }

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 { font-size: 55px }

    header.masthead .post-heading .subheading { font-size: 30px }
}




/* SUB MENU -------------------------------------------------------------- */
ol, ul, li {
    list-style: none;
    list-style-type: none;
}


.subMenu ul {
    display: inline;
}

    .subMenu ul li {
        margin: 0 1.5px;
        width: auto;
        height: 29px;
    }

#subMenu > ul li .selected {
    font-weight: bold;
}

#subMenu > ul li span,
#subMenu > ul li a {
    line-height: 26px;
    color: #006FB6;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
}

    #subMenu > ul li a:hover {
        color: #006fb6;
    }

    #subMenu > ul li a:active {
        color: #006fb6;
    }
