@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>AAHRMS | About Us </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="AAHRMS, HRMS, Human Resource, AAHRM, Human Resource Management System, Human Resource Management Solution, Human Resource Management" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Content/homecss.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/homeslide.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!-- mian-content -->
    <div class="main-w3layouts-header-sec inner-page" id="home">
        <div class="overlay-innerpage">
            <!-- header -->
            <header>
                <div class="container">
                    <div class="header d-lg-flex justify-content-between align-items-center">
                        <div class="header-section">
                            <h1>
                                <a class="navbar-brand logo editContent" href="/Home/Index">
                                    <span class=""></span> AAHRMS
                                </a>
                            </h1>
                        </div>
                        <div class="nav_section">
                            <nav>
                                <label for="drop" class="toggle mt-lg-0 mt-1"><span class="fa fa-bars" aria-hidden="true"></span></label>
                                <input type="checkbox" id="drop" />
                                <ul class="menu">
                                    <li><a href="/Home/Index">Home</a></li>
                                    <li><a href="/Home/Index/#services">Features</a></li>

                                    <li class="active">
                                        <!-- First Tier Drop Down -->
                                        <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                                        <a href="#">About <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                        <input type="checkbox" id="drop-2" />
                                        <ul class="inner-dropdown">
                                            <li><a href="#partners">Team</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/Home/Contact">Contact Us</a></li>
                                    <li><a href="/Account/Login">Go to Solution</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </header>
            <!-- //header -->
        </div>
    </div>

    <!-- //banner -->
    <!-- //banner-botttom -->
    <section class="content-info py-5" id="about">
        <div class="container py-md-5">
            <div class="text-center px-lg-5">
                <h3 class="title-w3pvt mb-5">About Us</h3>
                <div class="title-desc text-center px-lg-5">
                    <p class="px-lg-5 sub-wthree">
                        Automata HRMS is a web-based application designed to automate major human resource operations and to help improve the efficiency of human resource managers
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-botttom -->
    <!-- /about -->
    @*<section class="about py-md-5 py-5" id="about">
            <div class="container py-md-5">
                <div class="feature-grids row mt-3">
                    <div class="col-lg-4 gd-bottom mt-4">
                        <div class="bottom-gd p-lg-5 p-4">
                            <span class="fa fa-star" aria-hidden="true"></span>
                            <h3 class="my-3">EASY TO USE</h3>
                            <p>
                                AAHRMS is designed to be easy to use for both employees and HR administrators.
                                It does not require extensive/rigorous trainings to use
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 gd-bottom mt-4">
                        <div class="bottom-gd2-active p-lg-5 p-4">
                            <span class="fa fa-podcast" aria-hidden="true"></span>
                            <h3 class="my-3">MULTI COMPANY</h3>
                            <p>AAHRMS provides an amazing and centralized system of managing multi company on one platform and seamlessly navigate between them.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 gd-bottom mt-4">
                        <div class="bottom-gd p-lg-5 p-4">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <h3 class="my-3">VERY SECURE</h3>
                            <p>HR Information is securely put away and only accessible to only authorized users. We use SSL encryption, Microsoft Azure infrastructure and software to securely keep the data away from any unauthorized persons.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@
    <!-- //about -->
    <!--/banner-bottom -->
    <!--/banner-bottom -->
    <section class="collections-gid-w3layouts">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                    <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                        <h3 class="title-w3pvt mb-5">Our Service</h3>

                        <p>
                            When using our solution, Automata HRMS will help Human Resource Managers to easily and effectively;
                        </p>
                        <ul class="tic-info list-unstyled mt-5">
                            <li>

                                <span class="fa fa-check mr-2"></span> Manage employees’ records by storing and allowing easy retrieval when and where needed.

                            </li>
                            <li>

                                <span class="fa fa-check mr-2"></span> Manage employee payroll, benefits, loans and other renumerations

                            </li>
                            <li>

                                <span class="fa fa-check mr-2"></span> Manage employee leave requests and records

                            </li>
                            <li>
                                <span class="fa fa-check mr-2"></span> Manage the recruitment processes

                            </li>
                            <li>

                                <span class="fa fa-check mr-2"></span> And other relevant HRMS functionalities.

                            </li>

                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 progress-content-img two px-lg-0">
                    <img src="~/Content/Images/africa.jpg" alt="" class="img-fluid image1">
                </div>
            </div>
        </div>
    </section>
    <!-- /banner-bottom -->
    <!-- /features -->
    @*<section id="services" class="about py-md-5 py-5">
            <div class="container py-md-5">
                <h3 class="title-w3pvt text-center mb-5">Our Features</h3>
                <div class="feature-grids row mt-5">
                    <div class="col-lg-4 gd-bottom process-1 text-lg-right text-center  p-lg-5">

                        <h3 class="my-3">EMPLOYEE  ONBOARDING</h3>
                        <p>AAHRMS makes the onboarding process very easy and seamless by providing a form that can be filled quickly and subsequently updated</p>
                    </div>
                    <div class="col-lg-4 gd-bottom text-center">
                        <img src="~/Content/Images/process.png" alt="" class="img-fluid image1">
                    </div>
                    <div class="col-lg-4 gd-bottom process-1 text-lg-left text-center  p-lg-5">


                        <h3 class="my-3">PAYROLL  MANAGEMENT</h3>
                        <p>
                            AAHRMS enables easy , but well detailed payroll system.
                            The payroll system can also be integrated into the company payment system to initiate employee payment.
                        </p>

                    </div>

                </div>
                <div class="feature-grids row mt-3">
                    <div class="col-lg-4 gd-bottom">


                    </div>
                    <div class="col-lg-4 gd-bottom text-center p-lg-5">


                        <h3 class="my-3">STAFF DEVELOPMENT  MANAGEMENT</h3>
                        <p>AAHRM helps to monitor company training schedule, easily see employee that has requested for training, view on-going training and receive training reports.</p>

                    </div>
                    <div class="col-lg-4">

                    </div>

                </div>

            </div>
        </section>*@
    <!-- //features -->
    <!-- contacts -->
    <section class="partners py-5" id="partners">
        <div class="container py-md-3">
            <h3 class="title-w3pvt two text-center mb-5">Our Team</h3>
            <div class="row grid-part text-center">


                <div class="col-md-4 col-4 mt-3">
                    <div class="partner-w3pvt">
                        <img src="~/Images/olaitan.jpg" class="rounded-0 img-thumbnail" style="width: 150px; height: 150px" />

                        <h4>Olaitan Adeboye</h4>
                        <p>Project Manager</p>
                        <p>
                            <a class="btn" href="#" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="" title="olaitan.adeboye@automataassociates.com" data-original-title="Popover Title"><span style="font-size: 20px;" class="fa fa-envelope"></span></a>
                            <a class="btn" href="#" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="" title="09080810234" data-original-title="Popover Title"><span style="font-size: 20px;" class="fa fa-phone"></span></a>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-4 mt-3">
                    <div class="partner-w3pvt">
                        <img src="~/Images/ks.jpg" class="rounded-0 img-thumbnail" style="width: 220px; height: 200px" />
                        <h4>Adekunle Salau</h4>
                        <p>CEO Automata Associates Limited</p>
                        <p>
                            <a class="btn" href="#" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="" title="adekunle.salau@automataassociates.com" data-original-title="Popover Title"><span style="font-size: 20px;" class="fa fa-envelope"></span></a>
                            <a class="btn" href="#" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="" title="09080810234" data-original-title="Popover Title"><span style="font-size: 20px;" class="fa fa-phone"></span></a>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-4 mt-3">
                    <div class="partner-w3pvt">
                        <img src="~/Images/avt.jpg" class="rounded-0 img-thumbnail" style="width: 150px; height: 150px" />
                        <h4>Lekuti</h4>
                        <p>Technical Director</p>
                        <p>
                            <a class="btn" href="#" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="" title="lekuti@automataassociates.com" data-original-title="Popover Title"><span style="font-size: 20px;" class="fa fa-envelope"></span></a>
                            <a class="btn" href="#" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="" title="09080810234" data-original-title="Popover Title"><span style="font-size: 20px;" class="fa fa-phone"></span></a>
                        </p>
                    </div>
                </div>

            </div>

            <div class="row grid-part text-center">
                <div class="col-md-12 col-12 mt-3">
                    <div class="partner-w3pvt">
                        <img src="~/Images/passport.jpg" class="rounded-0 img-thumbnail" style="width: 150px; height: 150px" />
                        <h4>Bomanaziba Ogoni</h4>
                        <p>Team Lead</p>
                        <p>
                            <a class="btn" href="#" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="" title="bomanaziba.ogoni@automataassociates.com" data-original-title="Popover Title"><span style="font-size: 20px;" class="fa fa-envelope"></span></a>
                            <a class="btn" href="#" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="" title="09080810234" data-original-title="Popover Title"><span style="font-size: 20px;" class="fa fa-phone"></span></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row grid-part text-center">

                <div class="col-md-12 col-12 mt-3">
                    <div class="partner-w3pvt">
                        <img src="~/Images/african-leaders.jpg" class="rounded-0 img-thumbnail" style="width: 1000px; height: 500px" />
                        <h4>Our Entire Team</h4>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- //partners -->
    <!-- footer -->
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <p class="copy-right-grids text-md-left text-center my-sm-4 my-4 col-md-6">
                    © 2019 AAHRMS. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/"> W3layouts </a>
                </p>
                <div class="w3layouts-footer text-md-right text-center mt-4 col-md-5">
                    <ul class="list-unstyled w3layouts-icons">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="move-top text-right col-md-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>

            </div>
        </div>
    </div>
    <!-- //footer -->

</body>

</html>