
@{
    ViewBag.Title = "Solution Setup";
   
}



<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-settings"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@ViewBag.Title</h2>
                                    <p> This is where you setup your company <span class="bread-ntd"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Color area Start-->
<div class="colr-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="color-wrap">
                    <div class="color-hd">
                        <h2></h2>
                        <p>
                        </p>
                    </div>


                    <div class="row">

                        <a href="~/hr/departmentlist">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="color-single nk-blue-gray mg-t-30">
                                    <h2>Manage Department</h2>
                                    <p></p>
                                    <span style="font-size: 50px;" class="notika-icon notika-app"></span>
                                </div>
                            </div>
                        </a>

                        <a href="~/hr/gradelist">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="color-single nk-blue-gray mg-t-30">
                                    <h2>Manage Grade</h2>
                                    <p></p>
                                    <span style="font-size: 50px;" class="notika-icon notika-avable"></span>
                                </div>
                            </div>
                        </a>
                        
                        <a href="~/companysetup/levellist">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="color-single nk-blue-gray mg-t-30">
                                    <h2>Manage Level</h2>
                                    <p></p>
                                    <span style="font-size: 50px;" class="notika-icon notika-bar-chart"></span>
                                </div>
                            </div>
                        </a>

                        <a href="~/companysetup/benefitlist">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="color-single nk-blue-gray mg-t-30">
                                    <h2>Manage Benefit</h2>
                                    <p></p>
                                    <span style="font-size: 50px;" class="notika-icon notika-credit-card"></span>
                                </div>
                            </div>
                        </a>

                    </div>

                    <div class="row">

                        <a href="~/companysetup/payscalelist">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="color-single nk-blue-gray mg-t-30">
                                    <h2>Manage Salary Scale</h2>
                                    <p></p>
                                    <span style="font-size: 50px;" class="notika-icon notika-finance"></span>
                                </div>
                            </div>
                        </a>

                        <a href="~/hr/jobtitlelist">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="color-single nk-blue-gray mg-t-30">
                                    <h2>Manage Job Title</h2>
                                    <p></p>
                                    <span style="font-size: 50px;" class="notika-icon notika-file"></span>
                                </div>
                            </div>
                        </a>
                        

                        <a href="~/companysetup/leavetypelist">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="color-single nk-blue-gray mg-t-30">
                                    <h2>Manage Leave Type</h2>
                                    <p></p>
                                    <span style="font-size: 50px;" class="notika-icon notika-calendar"></span>
                                </div>
                            </div>
                        </a>

                        <a href="~/typeofexit/typeofexitlist">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="color-single nk-blue-gray mg-t-30">
                                    <h2>Manage Exit Type</h2>
                                    <span style="font-size: 50px;" class="notika-icon notika-arrow-right"></span>
                                </div>
                            </div>
                        </a>

                    </div>

                    @*<div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="color-single nk-blue-gray mg-t-30">
                    <h2>Manage Tax</h2>
                    <p></p>
                    <a href="~/companysetup/taxlist"><span style="font-size: 50px;" class="notika-icon notika-tax"></span></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="color-single nk-blue-gray mg-t-30">
                    <h2>Manage Reward</h2>
                    <p></p>
                    <a href="~/companysetup/rewardlist"><span style="font-size: 50px;" class="notika-icon notika-up-arrow"></span></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="color-single nk-blue-gray mg-t-30">
                    <h2>Manage Deduction</h2>
                    <p></p>
                    <a href="~/companysetup/deductionlist"><span style="font-size: 50px;" class="notika-icon notika-down-arrow"></span></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="color-single nk-blue-gray mg-t-30">
                    <h2>Manage Loan</h2>
                    <p></p>
                    <a href="~/companysetup/loanlist"><span style="font-size: 50px;" class="notika-icon notika-dollar"></span></a>
                </div>
            </div>

        </div>*@

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Color area End-->