@using AA.HRMS.Interfaces.ValueTypes
@model AA.HRMS.Interfaces.IEmployeeAnnualAssessingPerformanceListView

@{
    ViewBag.Title = "Employee Annual Performance Assessment List";
    var hasInfo = (Model != null) && (Model.EmployeeAnnualAssessingPerformance.Any());
    var role = (String[])HttpContext.Current.Session[SessionKey.UserRoles];
}



<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@ViewBag.Title</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <a class="btn" data-toggle="tooltip" href="/performancemanagement/AnnualAssessmentList?message=@Model.ProcessingMessage" data-placement="left" title="Back"><i class="notika-icon notika-back"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ProcessingMessage))
{
    <div>
        <div class="container">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
            </div>

        </div>
    </div>
}




@if (hasInfo)
{

    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Employee</th>
                                        <th> Year</th>
                                        @if (role.Contains("CompanyAdmin"))
                                        {
                                            <th>Action</th>
                                        }
                                        @if (role.Contains("CompanyAdmin") || role.Contains("Supervisor"))
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                <tbody>
                                    @foreach (var d in Model.EmployeeAnnualAssessingPerformance)
                                    {
                                    <tr>
                                        <td>
                                            @d.Reviewee
                                        </td>
                                        <td>
                                            @d.Year
                                        </td>

                                        @if (role.Contains("CompanyAdmin"))
                                        {

                                            <td>
                                                <a class="btn btn-sm btn-primary" href="/PerformanceManagement/ViewEmployeeAnnualAssessmentForm?employeeAnnualAssessingPerformanceId=@d.EmployeeAnnualAssesssingPerformanceId" data-placement="left" title="Fill Annual Assessment Form">View</a>
                                            </td>
                                        }

                                        @if (role.Contains("Supervisor") && d.Status == "Reviewer")
                                        {

                                            <td>
                                                <a class="btn btn-sm btn-primary" href="/PerformanceManagement/ReviewerEmployeeAnnualAssessmentForm?employeeAnnualAssessingPerformanceId=@d.EmployeeAnnualAssesssingPerformanceId&url=@Model.URL" data-placement="left" title="Fill Annual Assessment Form">Review Form</a>
                                            </td>
                                        }
                                        else if (role.Contains("CompanyAdmin") && d.Status == "FinalReviewer")
                                        {
                                            <td>
                                                <a class="btn btn-sm btn-primary" href="/PerformanceManagement/ReviewerEmployeeAnnualAssessmentForm?employeeAnnualAssessingPerformanceId=@d.EmployeeAnnualAssesssingPerformanceId&url=@Model.URL" data-placement="left" title="Fill Annual Assessment Form">Review Form</a>
                                            </td>
                                        }
                                        else if (d.Status == "Reviewed")
                                        {
                                            <td>
                                                <button class="btn btn-sm btn-default" disabled>Form Filled</button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <button class="btn btn-sm btn-default" disabled>Form in Transist</button>
                                            </td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th> Employee</th>
                                        <th> Year</th>
                                        @if (role.Contains("CompanyAdmin"))
                                        {
                                            <th>Action</th>
                                        }
                                        @if (role.Contains("CompanyAdmin") || role.Contains("Supervisor"))
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info alert-mg-b-0" role="alert">
                    <p>No Employee Annual Performance Assessment Form Available</p>
                </div>
            </div>
        </div>
    </div>

}




<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayCreate">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayEdit">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div id="displayDelete">

            </div>
        </div>
    </div>
</div>

<script>
    var URL = "";

    function createModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayCreate").html(data);
            }
        });


        $("#createModal").modal();
    }

    function editModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayEdit").html(data);
            }
        });

        $("#editModal").modal();

    }

    function deleteModal(URL) {

        $.ajax({
            type: "GET",
            url: URL,
            success: function (data) {
                $("#displayDelete").html(data);
            }
        });

        $("#deleteModal").modal();

    }

</script>

